:root {
    --brand-color: #4D5AE5;
    --text-color-dark: #2E2F42;
    --text-color-grey: #434455;
    --main-font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--main-font-family);
    font-size: 16px;
    color: var(--text-color-dark);
    letter-spacing: 0.02em;
    
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
}

.nav-link {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 16px;
}
.nav-link:hover {
    color: var(--text-color-grey);
}

.contact-link {
    font-size: 16px;
    color: var(--text-color-grey);
    font-weight: 400;

}

.banner-slogan {
    font-weight: 600;
    font-size: 56px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.2;
    width: 492px;
    margin: 0 auto;
}
.banner-section {
    background-color: var(--text-color-dark);
    text-align: center;

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: var(--text-color-dark);
    
}

.logo span {
    color: var(--brand-color);
}


.btn {
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: var(--main-font-family);
}

.btn-blue {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--brand-color);
    color: white;
    border-width: 0;
     
}
.btn-blue:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.btn-white {
    background-color: #F4F4FD;
    color: var(--brand-color);
    border: 1px solid #E7E9FC;
    margin: 0 10px;
}

.btn-white:hover {
    color: white;
    background-color: var(--brand-color);
}

.description {
    line-height: 1.5;
    color: var(--text-color-grey);
}

.title {
    line-height: 1.5;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color-dark);
}

.section-title {
    line-height: 1.5;
    font-weight: 600;
    font-size: 36px;
    color: var(--text-color-dark);
}

.under-photo-text {
    font-size: 20px;
    font-weight: 600;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.footer {
    background-color: var(--text-color-dark);
    color: white;
}

.footer .logo {
    color: white;
    
}
.footer p {
   color: #E7E9FC;
    line-height: 1.5;
}